:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #ff0000;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 310px;
    background-color: var(--color-black);
}

.brand {
    width: 100%;
    height: 60px;
    box-shadow: rgba(94, 92, 92, 0.45) 0px 25px 20px -20px;
    margin: 10px;
}

.brand a img {
    width: 60px;
    height: auto;
    padding: 10px 10px;
}

.nav {
    width: 100%;
    height: 250px;
}

.nav .nav-list {
    display: block;
    margin: 1px;
}

.nav .nav-list .nav-item {
    display: block;
    padding: 10px 15px;
    color: var(--color-white);
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 1px solid var(--color-red);
}

.nav .nav-list:last-child .nav-item {
    border: none;
}