:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #ff0000;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 310px;
    background-color: var(--color-black);
}

.brand {
    width: 100%;
    height: 60px;
    box-shadow: rgba(94, 92, 92, 0.45) 0px 25px 20px -20px;
    margin: 10px;
}

.brand a img {
    width: 60px;
    height: auto;
    padding: 10px 10px;
}

.nav {
    width: 100%;
    height: 250px;
}

.nav .nav-list {
    display: block;
    margin: 1px;
}

.nav .nav-list .nav-item {
    display: block;
    padding: 10px 15px;
    color: var(--color-white);
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 1px solid var(--color-red);
}

.nav .nav-list:last-child .nav-item {
    border: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-color: #f5f5f5;
 }
    
.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(50, 7, 0,8);
    box-shadow: rgb(50, 50, blue0,25) 0px 13px 27px -5px, rgb(0, 0, 0,22) 0px 8px 16px -8px;
}

.brand {
    width: 10%;
    height: 100%;
    float: left;
}

.brand a img {
    width: 100%;
    height: 100%;
}

.nav {
    list-style: none;
    width: 50%;
    float: right;
}

.nav .nav-list {
    display: inline-block;
    border-right: 1px red solid;
}

.nav .nav-list:last-child {
    border-right: none;
}

.nav .nav-list .nav-item {
    display: inline-block;
    width: 120px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-family: tahoma;
    font-size: large;
    padding: 24px 10px;
}

.nav .nav-list .nav-item:hover {
    background-color: rgb(255, 255, 255,0.2);
}

@media (max-width: 900px) {
    .navbar {
        height: 450px;
        width: 100%;
    }
    .brand {
        height: 60px;
        width: 20%;
    }
    .nav {
        height: 70%;
        width: 100%;
        float: left;

    }
    .nav .nav-list {
        width: 100%;
        display: block;
        border: none;
        border: 1px rgb(172, 40, 40) solid;
        
        
    }
    .nav .nav-list .nav-item {
        width: 100%;
        padding: 20px 15px;
        text-align: left;
    }
    .nav .nav-list .nav-item:hover {
        background-color: rgb(255, 255, 255,0.2);
        opacity: 0.5;
    }

}

