* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-color: #f5f5f5;
 }
    
.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(50, 7, 0,8);
    box-shadow: rgb(50, 50, blue0,25); 0px 13px 27px -5px, rgb(0, 0, 0,22); 0px 8px 16px -8px;
}

.brand {
    width: 10%;
    height: 100%;
    float: left;
}

.brand a img {
    width: 100%;
    height: 100%;
}

.nav {
    list-style: none;
    width: 50%;
    float: right;
}

.nav .nav-list {
    display: inline-block;
    border-right: 1px red solid;
}

.nav .nav-list:last-child {
    border-right: none;
}

.nav .nav-list .nav-item {
    display: inline-block;
    width: 120px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-family: tahoma;
    font-size: large;
    padding: 24px 10px;
}

.nav .nav-list .nav-item:hover {
    background-color: rgb(255, 255, 255,0.2);
}

